body {
    background-color: blue;
    text-align: center;
    width: 100vh;
    height: 100vh;
}

h2 {
    color: white;
    text-shadow: 1px 1px 0 black;
}

a {
    display: inline-block;
    padding: 5px;
}

#itemContainer {
    background-color: white;
    left: 5vh;
    right: 5vh;
}

ol {

}

li {
    background-color: white;
}
